
.heading {
    margin-top: 0;
    font-weight: 100;
    margin-bottom: 0.7em;
    font-size: 40px;
    line-height: 1;

    @media (min-width: $media-small) {
        font-size: 44px;
    }

    @media (min-width: $media-middle) {
        margin-bottom: 1em;
        font-size: 44px;
    }

    @media (min-width: $media-large) {
        font-size: 60px;
        line-height: 0.9;
    }
}
