.pretty-tile {
    max-width: 930px;
    margin: 0 auto;
    display: inline-block;

    &__image {
        margin: 0 -20px;
    }

    &__content {
        padding-top: 15px;
    }

    @media (min-width: $media-small) {
        padding: 40px 30px 0;

        &__content {
            padding-top: 15px;
        }

        &__image {
            display: inline-block;
        }
    }

    @media (min-width: $media-middle) {
        padding: 0;
        display: block;

        &__image {
            margin: 32px 0;
            float: left;
        }

        &__content {
            height: 620px;
            padding-top: 140px;
            padding-left: 160px;
            margin-left: 313px;
        }
    }
}
