extends ../layouts/layout
block main
    section.page
        img(src=require("../../images/img-person-main.png"), alt="Алена Анчерите")
        h1.heading
            | Алена
            strong.extra-wide &nbsp;Анчерите
        p.description.
            Профессиональный коуч <br>
            и бизнес-тренер.
    include ../blocks/social.pug
