doctype html
html(lang="ru")
    head
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Алена Анчерите - профессиональный коуч и бизнес-тренер.")
        title.
            Коучинг с Аленой Анчерите
    body
        .page-wrapper
            block main
