.social
    ul.social__list
        li.social__item
            a.social__link.social__link--in(href="//instagram.com/coach_ancherite"  target="_blank") instagram
    ul.social__list
        li.social__item
            a.social__link.social__link--vk(href="//vk.com/ancheriteaa"  target="_blank") вКонтакте
    ul.social__list
        li.social__item
            a.social__link.social__link--yt(href="//youtube.com/channel/UC2_BkPgELAW9dUQToqJaKlw" target="_blank") Youtube


